<div
  class="document document-area"
  [style.width.px]="value().width"
  [style.height.px]="value().height"
  [id]="'document-'+value().id"

>
  <div class="lipsum">
    {{value().id}}
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In efficitur
      convallis arcu, nec efficitur justo egestas vel. Class aptent taciti
      sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
      Praesent ut massa convallis, molestie nunc non, convallis libero.
      Pellentesque lacinia et nulla ac facilisis. Ut pharetra egestas
      scelerisque. In commodo ex semper, dignissim sem vel, malesuada massa.
      Nulla scelerisque nulla lacus, et fermentum risus scelerisque vitae.
      Nullam pellentesque, purus ac posuere eleifend, mauris felis facilisis mi,
      sit amet pretium massa neque in lorem.
    </p>
    <p>
      Morbi accumsan a mi in finibus. Curabitur vestibulum sapien diam, vitae
      efficitur enim aliquet quis. Vestibulum ullamcorper, velit ac consectetur
      accumsan, mauris elit semper odio, sed dictum nibh dui at leo. Duis quis
      pellentesque elit. Vivamus convallis arcu non neque efficitur viverra at
      eget enim. Donec magna metus, faucibus sed congue id, elementum quis
      risus. Orci varius natoque penatibus et magnis dis parturient montes,
      nascetur ridiculus mus. Aliquam ut magna rutrum, consequat nisi ac,
      interdum felis. Etiam sagittis metus lectus, ac faucibus nisi volutpat
      quis. Nam non mauris in nisi accumsan placerat ac ut libero. Fusce
      imperdiet nisi in turpis egestas, vulputate euismod turpis pharetra. Proin
      facilisis massa sit amet turpis congue molestie. Sed eget purus ut elit
      accumsan imperdiet. Sed eu cursus leo, id viverra est.
    </p>
    <p>
      Integer scelerisque nisl vitae efficitur maximus. Nam eget ullamcorper
      sapien, ut euismod odio. Morbi cursus libero eget diam commodo consequat.
      Nam tincidunt arcu eu aliquam viverra. Nunc nec elementum est. Aenean
      ultrices laoreet ligula in dignissim. Donec consectetur nulla id cursus
      elementum. Class aptent taciti sociosqu ad litora torquent per conubia
      nostra, per inceptos himenaeos. Aenean a ex placerat libero tristique
      tristique.
    </p>
    <p>
      Curabitur a est aliquet, lobortis nisi in, vehicula mi. Aenean a pulvinar
      dui. Etiam viverra placerat arcu, nec eleifend nisl consequat id. Mauris
      elit tellus, consectetur sit amet malesuada vel, volutpat vel est. Cras
      luctus interdum velit, eget efficitur quam imperdiet sed. Duis non blandit
      risus. Sed lobortis, mi ut mattis dictum, tortor nulla congue augue, quis
      eleifend velit nunc non velit. Vestibulum facilisis augue tortor, egestas
      maximus mauris congue in. Suspendisse vehicula felis varius nunc molestie,
      vel vestibulum mauris eleifend. Nullam eu dui ac eros condimentum molestie
      sed vel odio.
    </p>
    <p>
      Duis vulputate ligula nec ante tempus tristique. Integer vel interdum
      nibh. Mauris dapibus feugiat nibh, in tempor nisl iaculis a. Ut non
      aliquam odio. Nulla mi magna, malesuada non sagittis in, hendrerit non
      est. Orci varius natoque penatibus et magnis dis parturient montes,
      nascetur ridiculus mus. Interdum et malesuada fames ac ante ipsum primis
      in faucibus. Donec vel aliquet orci. Donec vitae lobortis sem. Vestibulum
      blandit efficitur lacus sed dapibus. Donec vel nisi ut nibh dictum ornare
      at non orci. Sed accumsan facilisis augue, consectetur ultricies massa
      tempor nec. Integer tellus nunc, dapibus id sapien quis, vehicula posuere
      lorem.
    </p>
    <p>
      Nam rutrum laoreet sem, euismod consectetur metus venenatis vitae.
      Pellentesque vitae fringilla sem, a tincidunt tortor. Suspendisse sit amet
      augue accumsan, dapibus tortor vel, scelerisque leo. Nullam et velit
      iaculis, hendrerit risus ac, ornare turpis. Nam in vehicula mi. Curabitur
      pulvinar libero ut tortor rutrum, id lobortis elit tristique. In eget
      justo odio.
    </p>
    <p>
      Quisque libero orci, efficitur sed porta vitae, venenatis quis ligula.
      Nunc dignissim accumsan ipsum ac semper. Aenean egestas ornare ipsum, ut
      suscipit tellus dignissim at. Duis vel neque vitae sem viverra
      sollicitudin sit amet iaculis ligula. Vestibulum dignissim viverra nunc,
      eu faucibus nulla tincidunt vitae.
    </p>
  </div>
</div>
