@for (
  annotation of sceneViewService.annotationCollection;
  track annotation.id
) {
  <at-annotation
    [value]="annotation"
    [debugMode]="debugMode"
    (remove)="sceneViewService.removeAnnotation($event)"
    (update)="sceneViewService.updateAnnotation($event)"
    (dragmove)="sceneViewService.updatePosition($event)"
  ></at-annotation>
}

<div class="doc-list">
  <div class="doc-wrapper">
    @for (document of sceneViewService.documentCollection; track document.id) {
      <at-document class="doc" [value]="document"></at-document>
    }
  </div>
</div>
<router-outlet />
