:host {
  .annotation {
    z-index: 2;
    display: block;
    position: absolute;
    width: 250px;
    padding: 10px 0;
    backdrop-filter: blur(1.5px);
    border-radius: 0 10px 10px 10px;
    &-drag-area {
      cursor: pointer;
    }
    & .remove {
      display: block;
      position: absolute;
      top: 2px;
      right: 2px;
      background: none;
      border: none;
      width: 18px;
      height: 18px;
      font-weight: 900;
      font-size: 12px;
      line-height: 12px;
      text-align: center;
      padding: 0;
      color: var(--color-almost-black);
    }

    input,
    textarea {
      width: calc(100% - 25px);
      background-color: transparent;
      border: none;
      height: 22px;
      color: var(--color-almost-black);
      font-weight: 500;
      font-family: system-ui;
      resize: none;
      &:focus,
      &:focus-visible {
        outline: none;
        border: none;
      }
      &::placeholder {
        font-weight: 300;
      }
    }
    .attachment-icon {
      display: inline-block;
      vertical-align: top;
      margin-left: 5px;
      margin-top: 4px;
    }
  }
  .file-input {
    display: none;
  }
}
