<cite
  class="annotation annotation-drag-area"
  [style.top.px]="currentTop()"
  [style.left.px]="currentLeft()"
  [style.background-color]="value().view.color"
>
  <div class="content">
    <textarea
      (ngModelChange)="onTextChange($event)"
      [ngModel]="value().content?.text"
      (keyup)="autoGrowTextZone($event)"
      placeholder="Add annotation"
    ></textarea>
    <pre
      >{{ value() | json }}
    </pre>
  </div>
  <button class="remove" (click)="remove.emit(value())">✖</button>
</cite>
