pre {
  font-size: 12px;
  padding: 10px;
  background-color: darkslategrey;
  border: 1px solid gray;
  color: lightblue;
  font-family: "Courier New", Courier, monospace;
}

:root {
  background-color: #505457;

  --color-smoke: rgba(0, 0, 0, 0.3);

  --annotation-border-radius: 8px;
  --annotation-box-shadow:  4px 3px 4px 2px rgba(0, 0, 0, .7);

}
